/* 
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    background-color:#91785D;
    text-decoration: none;
    width: 80px;
    max-width: 1600px;
    margin: 0 auto;
       
    
    placing the . behind the div denotes it as a class
       # denotes an id
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,400&family=Nunito+Sans:wght@200&display=swap');

#logo-link{
    text-align: left;
    width: 80px;

}

header{
    text-align: left;
    background-color:beige;
}
body{
    text-align: center;
    background-color: bisque;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

section{
    text-align: center;
}

.home-grid{
    text-align: center;
    color: rgb(150, 146, 146);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 10px;
}
h2{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}
h4{
    text-align: center;
}

.button-book{
    text-align: center;
}

.book, .join {
    background-color: #d39b51;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: rgb(220, 202,152);
}

.join:hover{
    background-color: rgb(220, 202,152)
}

.card-img {
    border: 10px solid #d9c2a3;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;

}   


footer{
    background-color: beige;
    text-align: left;
    margin-top: 200px;
}

.rivericon {

    width: 80px;

}


.fireicon {
    width: 80px;
}


.oarsicon {
    width: 80px;
}