div.hero{
    /* placing the . behind the div denotes it as a class*/
    /*Make everything in this class the same*/
  
    max-width: 1600px;
    margin: 0 auto;
    }

nav a{
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}

h1.home-title{
    text-align: center;
    color: whitesmoke;
}

.h4{
    text-align: center;
    color: whitesmoke;
}

div.button-box{
    text-align: center;
}

main.home-grid{
    text-align: center;
}

body {
    background-color: #869D7A; 
}
header {
    background-color:#91785D;
    text-align: center;
}
nav a:hover {
    background-color: #8B5D33;
    color: whitesmoke;
}

a.book{
    background-color: #8B5D33;
    color: whitesmoke;
    text-decoration: none;

}
 
a.join{
    background-color: #8B5D33;
    color: whitesmoke;
    text-decoration: none;

}

a.book:hover{
    background-color: #8B5D33;
    color: whitesmoke;
}

a.join:hover{ 
    background-color: aliceblue;
    color: whitesmoke;
    text-decoration: none;

}

section.msg{
    background-color: antiquewhite;
}

footer{
    background-color: #835a2f;
    text-align: left;
}

footer a{
    color: whitesmoke;
    text-decoration: none;
    text-align: left;
}

footer.h3{
    color: whitesmoke;

}

footer.{
    width: 8px;

}

footer a:hover{
    color:rgb(139, 112, 112);

}




.p{
    color: whitesmoke;
}

.h2{
    color: whitesmoke;
}

img.rivericon{

    width: 80px;

}


img.fireicon{
    width: 80px;
}


img.oarsicon{
    width: 80px;

}


