body{
    background-color: rgb(94, 27, 68);
}

img{

    width: 70%;

}


h1{
    font-family: Sans-serif;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 3em;



}

h2{
    color: white;
    text-align: center;
    width: 900px;
    margin:0 auto;
    display: inline;
    font-size: 100%;


}

h3{

    font-weight: bold;
    font-family: Arial;
}


img{
    width: 8em;
    height: 10em;
    display: block;
    margin: 0 auto;
   
}

p{
    font-size: 3em;
    /*This will make the font size 3 times bigger than the default  */
}

/* THIS WILL ALIGN IN THE page --> text-align: center;  & THIS WILL ALIGN IN THE box --> margin: 0 auto;*/