/* 
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    background-color:#91785D;
    text-decoration: none;
    width: 80px;
    max-width: 1600px;
    margin: 0 auto;
       
    
    placing the . behind the div denotes it as a class
       # denotes an id
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,400&family=Nunito+Sans:wght@200&display=swap');

#logo img{
    text-align: left;
    width: 80px;

}

#logo{
    padding-top: 5px
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #d8a97e;
    color: whitesmoke;
}

header{
    text-align: left;
    background-color:beige;
}
body{
    text-align: center;
    background-color: bisque;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

section{
    text-align: center;
}

.home-grid{
    text-align: center;
    color: rgb(150, 146, 146);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

#hero-img {
    width: 100%;

}

main section img{


    box-sizing: border-box;


}


h2{

    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}
h4{
    text-align: center;
}

.button-box{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 95px;
}

.join-us{
    margin: 10px;

}

.book, .join {
    background-color: #d39b51;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.book:hover{
    background-color: rgb(220, 202,152);
   
}

.join:hover{
    background-color: rgb(220, 202,152);
    
}


.card-img {
    border: 10px solid #d9c2a3;

}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
    margin-top: 50px;

}   


footer{
    background-color: beige;
    text-align: left;
    margin-top: 200px;
    padding: 25px 50px;
}
footer .social img{
    padding-top: 15px;
}

.msg {
    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5em;
    padding: 35px;
}

.msg p{
    font-size: .8em;
    padding: 15px;
}

.icon {

    width: 80px;
    padding-top: 10px;

}




/*

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,400&family=Nunito+Sans:wght@200&display=swap');

#content {
    /* placing the . behind the div denotes it as a class*/
    /* # denotes an id*/
    /*Make everything in this class the same*/
/*
    max-width: 1600px;
    margin: 0 auto;
    /*This is only for centering the images*/

/*}

#logo-link {
    width: 30px;
    padding-top: 5px;
}

#hero-img {
    width: 100%;

}

nav a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 35px;
}

.home-title {
    text-align: center;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 10px;

}

h4 {
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

.button-box {
    text-align: center;
}

.home-grid {
    text-align: center;
}

body {
    background-color: #869D7A;
    margin: 0;
    padding: 0;
}

header {
    background-color: #91785D;
    text-align: center;
    font-family: 'Arvo';
}

nav a:hover {
    background-color: #8B5D33;
    color: whitesmoke;
}

a.book {
    background-color: #8B5D33;
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}

.join {
    background-color: #869D7A;
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}

.book:hover {
    background-color: #295f29;
    color: whitesmoke;
}

.join:hover {
    background-color: aliceblue;
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;


}

.msg {
    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif 'Nunito Sans', sans-serif;
    font-size: 8em;
    line-height: 1.5em;
    padding: 35px;
}

#msp p {
    padding-bottom: 15px;
}

footer {
    background-color: #835a2f;
    text-align: left;
    padding: 25px 50px;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
    text-align: left;
    margin-top: 200px;
}

h3 {
    color: whitesmoke;

}


footer a:hover {
    color: rgb(65, 104, 57);

}

footer .social img {
    padding-top: 15px;

}


p {
    color: whitesmoke;
}

h4 {
    text-align: center;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}

.h2 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

.rivericon {

    width: 80px;

}


.fireicon {
    width: 80px;
}


.oarsicon {
    width: 80px;

}


.rivers-card {
    margin: 200px 0;
}

.camping-cards {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

*/
